<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Store.Web.styles.css" asp-append-version="true" />

    <style>
        body {
            background-color:; /* Цвет фона веб-страницы */
        }

        .rounded-img {
            width: 50ch;
            height: 50ch;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            padding: 0.9em;
            margin-bottom: 1em;
            margin-top: 1em;
            object-fit: cover;
        }

        .h1-red {
            border-style: inherit;
            color: #fff;
            -webkit-text-stroke: 0.5px #553d67;
            border-color: #553d67;
        }

        .container-bordered {
            width: 70ch;
            border-radius: 20%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            background-color: rgba(0,0,0,0.1);
            margin-bottom: 5ch;
        }

        .btn {
            margin-bottom: 2ch;
        }

        .nav-size {
            height: 56px;
        }

        .container-footer {
            background-color: aliceblue;
            box-shadow: ch;
        }

        .indient {
            margin-top: 80px;
        }

        strong {
            color: #fff;
        }
    </style>
</head>
<div class="container-fluid" style="width: 70%; color:#fff; margin-top:10px;">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <strong>FLY-BUY</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <body class="bg-dark">
        <div class="container text-center my-5 indient">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="container-bordered mx-auto">
                        <img class="rounded-img"
                             src="~/Source/Contacts/Kosty_Grunichev.jpg"
                             alt="Kosty_Grunichev" /><br />
                        <h1 class="fw-light h1-red">Груничев Константин</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead text-center text-muted">Связаться:</p>
                        </div>
                        <a href="https://vk.com/id342313229" target="_blank">
                            <button class="btn btn-secondary">VK</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="container-bordered mx-auto">
                        <img class="rounded-img"
                             src="~/Source/Contacts/Andrey_Shchelkov.jpg"
                             alt="Andrey_Shchelkov" /><br />
                        <h1 class="fw-light h1-red">Щелков Андрей</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead text-center text-muted">Связаться:</p>
                        </div>
                        <a href="https://vk.com/bitoche" target="_blank">
                            <button class="btn btn-secondary">VK</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="container-bordered mx-auto">
                        <img class="rounded-img"
                             src="~/Source/Contacts/Aleksey_Mokritsyn.jpg"
                             alt="Aleksey_Mokritsyn" /><br />
                        <h1 class="fw-light h1-red">Мокрицын Алексей</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead text-center text-muted">Связаться:</p>
                        </div>
                        <a href="https://vk.com/77orlov77" target="_blank">
                            <button class="btn btn-secondary">VK</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="container text-center my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="container-bordered mx-auto">
                        <img class="rounded-img"
                             src="~/Source/Contacts/Maksim_Zakharov.jpg"
                             alt="Maksim_Zakharov" /><br />
                        <h1 class="fw-light h1-red">Захаров Максим</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead text-center text-muted">Связаться:</p>
                        </div>
                        <a href="https://vk.com/ne_nu.a_cho" target="_blank">
                            <button class="btn btn-secondary">VK</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="container text-center my-5">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="container-bordered mx-auto">
                        <img class="rounded-img"
                             src="~/Source/Contacts/Danila_Pereslavtsev.jpg"
                             alt="Danila_Pereslavtsev" /><br />
                        <h1 class="fw-light h1-red">Переславцев Данила</h1>
                        <div class="col-lg-6 mx-auto">
                            <p class="lead text-center text-muted">Связаться:</p>
                        </div>
                        <a href="https://vk.com/id269370341" target="_blank">
                            <button class="btn btn-secondary">VK</button>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </body>
